.card {
  border: solid 1px $black;
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  div {
    margin-top: 1rem;
  }
  img {
    width: 100%;
  }
  span {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: $black;

    width: 100%;
    button {
      height: 100%;
      width: 3rem;
      font-size: 1.25rem;
      background-color: $black;
      color: white;
      border: none;
      cursor: pointer;
    }
    h6 {
      padding: 0.25rem;
      font-size: 1.25rem;
    }
  }

  //glass background
}

//card grid is from Home.js it contains all .card product cards
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
