//font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:wght@100;300&display=swap");

// variables
$accent: #2fdbb3;
$darker-accent: rgb(39, 107, 100);
$black: #121212;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
Link {
  text-decoration: "none";
}

.border {
  position: sticky;
  width: 100%;
  height: 100%;
  border: solid 5px #3bcaa9;
}
.conatiner {
  display: flex;
  justify-content: centre;
  align-items: center;
}
@import "./nav";
@import "./card";
@import "./footer";
@import "./cart";
@import "./product-page";
@import "./success";
